@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Taviraj&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Questrial&display=swap");
* {
  margin: 0;
  padding: 0;
}

html {
  font-family: "Josefin Sans", sans-serif;
  font-size: 14px;
}

body {
  background-color: #f7f6f4;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
  padding: 1rem 0 1rem 2rem;
}

nav .web-name {
  font-size: 30px;
  letter-spacing: 3px;
}

nav .categories {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
  font-family: "Taviraj", serif;
}

nav .categories p {
  margin-left: 2rem;
}

nav .categories p:hover {
  cursor: pointer;
}

nav .icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
}

nav .icons svg {
  margin-left: 2rem;
}

nav .icons svg:hover {
  cursor: pointer;
}

main {
  margin-top: 3rem;
}

main .featured-card-wrapper {
  overflow: hidden;
}

main .featured-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  margin: auto;
  width: 78%;
  background-color: #d7e6ff;
}

main .pattern {
  position: absolute;
  right: 0px;
}

main .fc-image {
  align-self: center;
  position: relative;
  left: -60px;
}

main .fc-desc {
  font-family: "Taviraj", serif;
  position: relative;
  left: -40px;
  margin: 2rem 0;
  z-index: 123;
}

main .fc-desc .fc-prod-name {
  font-size: 50px;
}

main .fc-desc hr {
  width: 35%;
  border-top: 1px solid black;
}

main .fc-desc .fc-prod-desc {
  margin: 1.5rem 12rem 0 0;
  color: #2e2e2e;
}

main .fc-desc .fc-prod-price-title {
  margin: 3rem 0 0.5rem 0;
  font-family: "Questrial", sans-serif;
  font-size: 20px;
}

main .fc-desc .fc-prod-price {
  font-family: "Questrial", sans-serif;
  font-size: 20px;
}

main .cart-btn-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
  margin: 2rem 0 4.5rem 0;
}
.cart-btn:hover{
  cursor: pointer;
}
main .cart-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
  padding: 0.5rem;
  background-color: #488fff;
  font-family: "Taviraj", serif;
  border: none;
}

main .cart-btn p {
  padding: 0 1rem;
  color: #fff;
  letter-spacing: 2px;
  font-size: 18px;
}

main .arrow-btns-wrapper {
  z-index: 123;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  bottom: -25px;
  right: 30px;
}

main .arrow-btn-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
  padding: 1rem 1.5rem;
  background-color: #488fff;
  margin-left: 2rem;
  border: none;
}

main .arrow-btn-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
  padding: 1rem 1.5rem;
  background-color: transparent;
  margin-left: 2rem;
  border: 1px solid #488fff;
}

main .monthly-deals {
  font-family: "Taviraj", serif;
  margin: 4rem 3rem;
}

main .monthly-deals .title {
  font-size: 48px;
}

main .monthly-deals hr {
  width: 12%;
  border: 1px solid black;
}

main .monthly-deals .prod-cards-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
  -ms-flex-align: baseline;
  align-items: baseline;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  margin: 5rem 5rem 5rem 0;
}

main .monthly-deals .prod-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  background-color: #fff;
  padding: 0 1rem;
  -webkit-box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.05);
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.05);
  /* transition: 3s ease-out; */
}

main .monthly-deals .prod-card .prod-img {
  position: relative;
  top: -20px;
}

main .monthly-deals .prod-card .prod-name {
  position: relative;
  top: -15px;
  font-size: 24px;
}

main .monthly-deals .prod-card .prod-og-price {
  position: relative;
  top: -15px;
  font-family: "Questrial", sans-serif;
  color: #da1d1d;
}

main .monthly-deals .prod-card .prod-og-price span {
  text-decoration: line-through;
  color: #858585;
}

main .monthly-deals .prod-card .prod-price-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  top: -10px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
}

main .monthly-deals .prod-card .prod-price-wrapper .prod-price {
  font-family: "Questrial", sans-serif;
  font-size: 18px;
}

.prod-card:hover .prod-img{
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.05);
}

.prod-card:hover .cart-wrapper {
  opacity: 1;
  height: auto;
}

.cart-wrapper {
  display: flex;
  transition: opacity 0.5s ease-out;
  opacity: 0;
  height: 0;
  overflow: hidden;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}
.add-to-cart-btn {
  display: flex;
  align-items: center;
  padding: 2px 8px;
  font-size: 16px;
  font-family: "Taviraj", serif;
  background-color: transparent;
  border: 1px solid #488fff;
  cursor: pointer;
}
.add-to-cart-btn p {
  margin-left: 8px;
  color: #488fff;
}
.cart-wrapper svg {
  cursor: pointer;
}
